/.env
/.phpunit.cache
/.phpunit.result.cache
/vendor
/node_modules
/bootstrap/cache/*.php
/public/build
/public/hot
/storage/*.key
/storage/logs/*.log
/storage/framework/cache/data/*
/storage/framework/sessions/*
/storage/framework/views/*
/storage/framework/testing/*
/storage/app/private/*
/storage/app/public/*
/database/*.sqlite

!.gitkeep
